<head>

    <link rel="stylesheet" type="text/css" href="~/css/aboutus.css">

    <TITLE>About US</TITLE>

</head>
<body>

    

    <div class="about-section">
        <h1>About the Creators</h1>
        <h2>Muma College of Business </h2>
        <p>BAIS Majors. ISM 6225</p>
    </div>


    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">

            <img class='circular' src="~/img/anju.jpg" alt="Anju" style="width:100%">
            <div class="container">
                <h2>Anju Mathew</h2>
                <p class="title">Spring 2021</p>
                <p>Created the  About Us and FDA Regulations Page</p>
                <p>Redesigned and craeted The Search Recalls page</p>
                <p>Created and designed the State Statistics page</p>
                <p>Created the reamining model view diagrams in the Databse</p>
                <p>Implemented CRUD functionalities for the application</p>
                <p>Designed the ERD diagram for workflow</p>
                <p>Created the dynmaic dashboard for State wise recalls</p>
                <p>anjutherase@uf.edu</p>

            </div>

        </div>

        <div class="column">

            <img class='circular' src="~/img/tapiwa.jpg" alt="Tapiw" style="width:100%">
            <div class="container">
                <h2>Tapiwa Gwede</h2>
                <p class="title">Fall 2020</p>
                <p>Created and Designed the Food Recall Page.</p>
                <p>gwedet@usf.edu</p>

            </div>

        </div>

        <div class="column">

            <img class='circular' src="~/img/sarah.jpg" alt="Sarah" style="width:100%">
            <div class="container">
                <h2>Sarah Halil</h2>
                <p class="title">Summer 2021</p>
                <p>Created and designed the Website Landing Page</p>
                <p>Created and designed the All Food Recalls Page</p>
                <p>Pulled the API and formatted data to pass to the database</p>
                <p>Created and linked SQL server database to MVC application</p>
                <p>Created model with two tables </p>
                <p>Binded the data into the database</p>
                <p>Created the view for displaying data</p>
                <p>Inserted the data into the database</p>
                <p>Linked all the website pages to MVC application</p>
                <p>Halil17@usf.edu</p>


            </div>

        </div>
        <div class="logo">

            <h4> ERD: </h4>

            <a href="#">  <img src="~/img/FDA_ER.PNG" alt="data model" object-fit:contain width:100% class="img-responsive" height: 100%> </a>

        </div>
    </div>
</body>